# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\craig\nlp_corpus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
